@import url('style-login.css');

body {
  font-family: 'Varela Round', sans-serif;
}

.header-principal {
  display: flex;
  position: sticky;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  place-self: flex-start;
  top: 0;
  width: 100%;
  background-color: rgb(6, 6, 43);
  padding: 1em;
}

.info-usuario {
  display: flex;
  flex-direction: column;
  background-color: #07262c8e;
  border-radius: 0.3em;
  color: aliceblue;
}

.info-torneo span:nth-child(odd) {
  color: rgb(254, 195, 16);
}

.info-nombre,
.info-torneo {
  display: flex;
  flex-direction: row;
  margin: 0.4em;
}

.info-nombre span,
.info-torneo span {
  padding: 0.1em;
}

.container-principal {
  display: grid;
  place-items: center;
  height: 100vh;
}

.cont-opciones {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 80%;
}

.cont-opciones button {
  border-radius: 8px;
  margin-block-end: 0.9rem;
  cursor: pointer;
  position: relative;
  padding: 3em;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: all 0.1s ease-in;
}

.titulo-boton {
  width: 100%;
  height: 100%;
  background-color: #13111183;
  color: white;
  padding: 0.5rem;
  border-radius: 0.6em;
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  letter-spacing: 0.3rem;
  font-size: clamp(12px, 2vw, 30px);
}

.tit-principal {
  font-size: clamp(16px, 4vw, 25px);
  font-weight: bolder;
  background-color: rgb(231, 24, 17);
  padding: 0.5em;
  border-radius: 0.3em;
  width: 100%;
  letter-spacing: 0.2em;
}

button:hover p {
  -webkit-box-shadow: 0px 0px 34px 5px rgba(212, 230, 225, 0.9);
  -moz-box-shadow: 0px 0px 34px 5px rgba(212, 230, 225, 0.9);
  box-shadow: 0px 0px 34px 5px rgba(212, 230, 225, 0.9);
}

.cont-opciones button:nth-child(1) {
  background-image: url('../images/messi.jpg');
}

.cont-opciones button:nth-child(2) {
  background-image: url('../images/maradona-mano.jpg');
}

.cont-opciones button:nth-child(3) {
  background-image: url('../images/copaamerica.jpg');
}
