@import url('style-jugadas.css');

.cont-resultado{

   gap: 2em;

    
}

.jornadas{

    margin-top: 1rem;
}

.cont-final{

    display: flex;
    justify-content: center;
    gap: .2em;
    font-style: oblique;
    font-size: .8rem;
    
}

.marcador{
      
    display: flex;
    flex-direction: row;
    color: rgb(254, 195, 16);
   
}